.venv/
venv/
__pycache__/
*.pyc
.env
artifacts/
debug_login.png
debug_login.html
debug_availability.png
debug_availability.html

.env
/.env

venv
.venv
/venv
/.venv
./venv


__pycache__
/__pycache__
./__pycache__

artifacts
.artifacts
/artifacts
./artifacts

